---
import Layout from '../components/Layout.astro';

import Divider from '../components/Divider.astro'; 
import ArticleBasic from '../components/article/basic.astro';
import Subscribe from '../components/Subscribe.astro';
---

<Layout title="Blazed One News">
	<main>
		<Divider title="Breaking News" />
		<ArticleBasic title="Big amazing thing headline news!" />
		<Subscribe />
	</main>
</Layout>