---
---
<div style="height: 100vh">
    <script src="https://cdn.jsdelivr.net/ghost/signup-form@~0.1/umd/signup-form.min.js" 
            data-background-color="#ffffff" 
            data-text-color="#000000" 
            data-button-color="#ff1919" 
            data-button-text-color="#FFFFFF" 
            data-title="Newsletter Subscribe" 
            data-description="Blazed Publishing is your trusted source for the best media." 
            data-icon="https://blazed.xyz/content/images/size/w192h192/size/w256h256/2024/01/Beaker-Dark-1.png" 
            data-site="https://blazed.xyz/" 
    async>
    </script>
</div>